body {
    font-family: Arial, sans-serif;
    background-color: black;
}


.navbar-header {
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid white;
}

.navbar-brand {
    display: block;
    font-weight: bold;
    border: 1px solid red;
}

#page-container {
    margin: 0;
    padding: 0;
}

#navigation-container {
    padding-left: 1vw;
    padding-right: 3vw;
    margin: 0;
    width: 100%;
}

#navbar-left-group {
    margin-left: 1vw;
    border: 1px solid blue;
}

